@use 'variables' as v;
@use 'media' as media;
body {
	font-family: v.$main-font;
	background-color: v.$main-bg-color;
}

.container {
	max-width: v.$container-width;
	margin: 0 auto;
	padding-inline: 15px;
}
