@use 'sass:color';

$white-color: #fff;
$color-dark: #000;
$color_grey: #b4b4b4;
$main-bg-color: #678ff2;
$alternate-bg-color: color.adjust($white-color, $alpha: -0.8);
$footer-bg: #5576cadf;
$main-font: 'Oswald', sans-serif;
// $main-font: 'Noto Serif', serif;
// $main-font: 'Doto', serif;
$container-width: 1440px;
$border-divider: 1px solid $white-color;
